@import "../style/mediaQueryConstants.scss";
.form {
  width: 100%;
  &__title {
    text-align: center;
    font-size: 40px;
    padding: 0px 16px;
  }
  &__unregistered {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    @media (max-width: $md3) {
      width: 70%;
    }
    @media (max-width: $md4) {
      width: 90%;
    }
  }
  &__registered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      text-align: center;
      color: rgba(0, 0, 0, 0.87);
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 50px;
      padding: 0px 20px;
    }
  }
  &__inputs {
    width: 100%;
  }
  &__radio {
    width: 100%;
  }
  &__photo {
    width: 100%;
    margin: 50px 0px;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 15px;
    &.invalid {
      border: 2px solid #cb3d40;
    }
    &.invalid label {
      border: 2px solid #cb3d40;
      left: -2px;
    }
    label {
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.87);
      border-radius: 4px 0px 0px 4px;
      padding: 15px;
      position: absolute;
      left: -1px;
    }
    span {
      padding-left: 84px;
    }
    input {
      display: none;
    }
  }
}
.radio-form {
  margin-top: 35px;
  &__title {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 11px;
    text-align: left;
  }
}
.photo-form {
  &__label {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0px 0px 4px;
    padding: 15px;
  }
  &__name {
    padding-left: 16px;
  }
  &__input {
    display: none;
  }
}
