@import "./style/mediaQueryConstants.scss";
@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular"),
    url("./assets/fonts/Nunito-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito-Regular";
  background: #f8f8f8;
}
input {
  font-family: "Nunito-Regular";
}
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 25px;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0;
  }
}
